
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
 

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Access Denied</h1>
        <p class="lead">ackground photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Please Contact Administrator for more information </a>
        </p>
    </main>
</div>